/*----------------------------------------*\
  LAYOUT
\*----------------------------------------*/

html,
body {
  height: 100%;
}

body {
  background-color: $background-color;
}

.master {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1 1 auto;
}
