/*----------------------------------------*\
  TYPOGRAPHY
\*----------------------------------------*/

@include headings {
  color: $alt-color-darker;
  font-family: 'Erica One', sans-serif;
}

h1 {
  font-size: rem(30px);
}

a {
  text-decoration-skip-ink: auto;
  text-decoration-skip: ink;
}

abbr[title] {
  text-decoration: none;
}
